#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}

#header .logo {
  width: 158.21px;
  height: 63px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}


#header .menu {
  width: 687px;
  height: 34px;
  position: static;
}

#header .menu-item .text {
  position: relative;
  display: inline-block;
}

#header .soon {
  color: #fdc500;
  text-align: center;
  font: 500 4px 'Barlow';
  position: absolute;
  right: -15px;
  top: -5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: red;
  padding: 2px;
}

#header .menu-item {
  text-decoration: none;
  color: white;
  text-align: left;
  font: 400 12px 'Barlow';
  padding: 0 15px;
  position: relative;
  /* display: inline-flex; */
}
#header .menu-item .arrow-down {
  stroke: white;
  margin-left: 5px;
}

#header .menu-item.active, #header .menu-item.active *, .menu-item:hover * {
  color: #e7ac00 !important;
  stroke: #e7ac00 !important;
}

#header #btn-join-discord {
  height: 34px;
  width: 129px;
  color: #000000;
  text-align: center;
  font: 700 12px 'Barlow';
}

#header #languages {
  margin-left: 10px;
}
